In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from copy import deepcopy
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
import yaml
import os

In [49]:
## load configuration file
config = yaml.safe_load(open("config.yaml"))
root_path = os.getcwd()
print(config)

{'data_source': {'raw_file': 'E:\\01_Programming\\Py\\Aditya_MLPROCESS\\data\\00_raw\\credit_risk_dataset.csv', 'column_names': '', 'drop_columns': '', 'target_name': '', 'test_size': '', 'random_state': ''}}

In [50]:
## functions
def load_data(fname: pd.DataFrame):
    data = pd.read_csv(fname)
    '''validation'''
    print(f"Data shape: {data.shape}")

    return data

fname = config['data_source']['raw_file']

data = load_data(fname)

Data shape: (32581, 12)

In [51]:
data.head(5)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [ ]:
print("testing repository")